<!DOCTYPE html>
<html>
    <head>
        <title>Kuro</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script>
            function displayInfo(section) {
                fetch(`/info/${section}`)
                .then(response => response.text())
                .then(text => {
                    document.getElementById("main").innerHTML = text;
                })
            }

            function problem() {
                
                document.getElementById("main").innerHTML = ""
                fetch("/api/problems/")
                .then(response => response.json())
                .then(problems => {
                    for (let i=0; i<problems.length; i++) {
                        var div = document.createElement('DIV');
                        if (problems[i]["complete"] === "True") {
                            div.innerHTML = `<a href="/problems/${problems[i]["id"]}/"><h1>${problems[i]["title"]} (completed)</h1></a>`
                        } else {
                            div.innerHTML = `<a href="/problems/${problems[i]["id"]}/"><h1>${problems[i]["title"]}</h1></a>`
                        }
                        
                        document.getElementById("main").appendChild(div);
                    }
                })
            }
        </script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Koru</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" onclick="return displayInfo('home');" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" onclick="return problem('problem');" href="#">Problems</a>
                    </li>
                    
                </ul>
                <!--<a class="nav-link" onclick="displayInfo('problem');" href="">Problems</a>-->
            </div>
            {% if not request.user.username %}
                <a class="nav-link" href="/login">Register/Login</a>
            {% else %}
                <a class="nav-link" href="/logout">Logout</a>
                <img src="{{ request.session.avator }}" width="50px" height="50px">
                <p style="margin-left: 5px">Welcome, {{ request.user.username }}</p>
            {% endif %}
        </nav>
        <div id="main">
            <h1 style="text-align: center;">This is Kuro space</h1>
            <br>
        </div>
    </body>
</html>